{erl_opts, [debug_info, {i, "include"}]}.

{deps, [
    {jsx, "3.1.0"},
    {decimal, {git, "https://github.com/egobrain/decimal", {tag, "0.6.5"}}},
    {yamerl, "0.10.0"},
    {esqlite, "0.9.0"}
]}.

{pre_hooks, [
    {compile, "erl -noshell -stdlib -parsetools -eval 'case leex:file(\"src/gdbsp_lexer_core.xrl\", [{scannerfile,\"src/gdbsp_lexer_core.erl\"}]) of ok -> init:stop(0); {ok,_} -> init:stop(0); Err -> io:format(\"leex error: ~p~n\",[Err]), init:stop(1) end.'"}
]}.

{ct_opts, [{cover_enabled, true}, {erl_opts, [{i, "include"}, {i, "_build/default/lib/yamerl/include"}]}]}.
